@charset "UTF-8";
/* CSS Document */

@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&display=swap');

*{
	padding:0;
	margin:0;
}

body{
	background:#000000;
}

/* nav bar */
nav{
	position: sticky;
	float: right;
	width:10%;
	text-align:left;
	z-index: 10000;
	top:30px;
}

nav li{
	display: block;
}

nav li a{
	color:rgba(255, 255, 255, 1);
	display: inline-block;
	padding:5px 10px;
	text-decoration: none;
	font-family: 'Libre Baskerville', serif;
	font-size:30px;
}

nav li a:hover{
	border-bottom:solid #FFFFFF 1px;
}

article{
	text-align:center;
	padding-top: 140px;
}


.sound{
	position: fixed;
	bottom:10px;
	left:10px;
	opacity: 10%;
}
