@charset "UTF-8";
/* CSS Document */

@import url(
'https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@400;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&display=swap');

*{
	padding:0;
	margin:0;
}

::-moz-selection{ /* Firefox */
    color:rgba(255, 255, 255, 1);
    background:#000000;
}

::selection{/* ??????? */
    color:rgba(255, 255, 255, 1);
    background:#000000;
}

header{
	width:100%;
	height:100px;
	box-sizing:border-box;
	margin:auto;
	padding: 30px;
   	top:0;
	z-index: 2000;
}

body{
	background:#000000;
	margin: 0;
	padding: 0;
}

.heater_a{
	color:#FFFFFF;
	text-decoration: none;
}


header ,section, footer{/* 代標他們的設定都一樣 */
	text-align:center;/*全部置中*/
}


/* nav bar */
nav{
	position: sticky;
	float: right;
	width:10%;
	text-align:left;
	z-index: 10000;
	top:30px;
}

nav li{
	display: block;
}

nav li a{
	color:rgba(255, 255, 255, 1);
	display: inline-block;
	padding:5px 10px;
	text-decoration: none;
	font-family: 'Libre Baskerville', serif;
	font-size:30px;
}

nav li a:hover{
	border-bottom:solid #FFFFFF 1px;
}

.ch_bg{
	background: #7A7A7A;
}


section{
	color:#ffff;
	width: 60%; /*可隨視窗大小調整*/
	margin: auto; /*物件置中*/
}

article{
	float:left;
	width:100%;
	box-sizing:border-box;
	margin:50px 0px 0px;
}

article .picbox, article .desbox{
	float: left;
	position: relative;
	width: 50%;
	box-sizing: border-box;
}

article .desbox{
	padding:40px;/*文字與圖的距離*/
	line-height:2em;
	text-align: justify;/*文字等寬*/
	font-family: 'Noto Serif TC', serif;
	font-weight:200;
	font-size:15px;
}


.tTA textarea{box-shadow:inset 0 1px 3px #E1E3E3;border:1px solid;font-size:14px;line-height:180%;border-color:#979899 #A2AAAD #B2BABD;width:100%;box-sizing:border-box;padding:8px 13px;height:200px;background:#FDFFFF;resize:vertical;}
.tTA .pinyin{background:#FFFDFB;font-size:16px;}




/*footer*/
footer{
	clear:both;
	padding:20px 0px;
	text-align:center;
	color:#0000;
}



